Quests/Service References/NetworkService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.200:8733/Design_Time_Addresses/QuestServer/QuestService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Key" nillable="true" type="tns:Key" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKey" nillable="true" type="tns:ArrayOfKey" />
  <xs:complexType name="Key">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="KeyId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestId" type="xs:int" />
      <xs:element minOccurs="0" name="SensorId" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOffset" type="ser:duration" />
      <xs:element minOccurs="0" name="Viewed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Key" nillable="true" type="tns:Key" />
  <xs:simpleType name="QuestState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Run" />
      <xs:enumeration value="Done" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QuestState" nillable="true" type="tns:QuestState" />
</xs:schema>