Quests/Service References/NetworkService/QuestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IQuestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.200:8733/Design_Time_Addresses/QuestServer/QuestService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.200:8733/Design_Time_Addresses/QuestServer/QuestService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.200:8733/Design_Time_Addresses/QuestServer/QuestService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestService_RegisterQuestClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterQuestClient" />
  </wsdl:message>
  <wsdl:message name="IQuestService_RegisterQuestClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterQuestClientResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestService_QuestCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:QuestCompleted" />
  </wsdl:message>
  <wsdl:message name="IQuestService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IQuestService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestService_KeyViewed_InputMessage">
    <wsdl:part name="parameters" element="tns:KeyViewed" />
  </wsdl:message>
  <wsdl:message name="IQuestService_SetCurrentKey_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentKey" />
  </wsdl:message>
  <wsdl:message name="IQuestService_StartQuest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartQuest" />
  </wsdl:message>
  <wsdl:message name="IQuestService_StartQuest_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartQuestResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestService_StopQuest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StopQuest" />
  </wsdl:message>
  <wsdl:message name="IQuestService_GetQuestState_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetQuestState" />
  </wsdl:message>
  <wsdl:message name="IQuestService_GetQuestState_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetQuestStateResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestService_ServerPing_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServerPing" />
  </wsdl:message>
  <wsdl:message name="IQuestService_SendMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IQuestService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterQuestClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestService/RegisterQuestClient" message="tns:IQuestService_RegisterQuestClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestService/RegisterQuestClientResponse" message="tns:IQuestService_RegisterQuestClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="QuestCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestService/QuestCompleted" message="tns:IQuestService_QuestCompleted_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestService/Ping" message="tns:IQuestService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestService/PingResponse" message="tns:IQuestService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="KeyViewed">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestService/KeyViewed" message="tns:IQuestService_KeyViewed_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetCurrentKey">
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestService/SetCurrentKey" message="tns:IQuestService_SetCurrentKey_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartQuest">
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestService/StartQuest" message="tns:IQuestService_StartQuest_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestService/StartQuestResponse" message="tns:IQuestService_StartQuest_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StopQuest">
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestService/StopQuest" message="tns:IQuestService_StopQuest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetQuestState">
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestService/GetQuestState" message="tns:IQuestService_GetQuestState_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestService/GetQuestStateResponse" message="tns:IQuestService_GetQuestState_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ServerPing">
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestService/ServerPing" message="tns:IQuestService_ServerPing_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestService/SendMessage" message="tns:IQuestService_SendMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IQuestService" type="tns:IQuestService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IQuestService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterQuestClient">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/RegisterQuestClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuestCompleted">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/QuestCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeyViewed">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/KeyViewed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentKey">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/SetCurrentKey" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartQuest">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/StartQuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopQuest">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/StopQuest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestState">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/GetQuestState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerPing">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/ServerPing" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IQuestService/SendMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuestService">
    <wsdl:port name="WSDualHttpBinding_IQuestService" binding="tns:WSDualHttpBinding_IQuestService">
      <soap12:address location="http://192.168.1.200:8733/Design_Time_Addresses/QuestServer/QuestService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.1.200:8733/Design_Time_Addresses/QuestServer/QuestService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>